<h1>Adding Casualty for {{ team.name }} in match {{ match.id }}</h1>

<form method="POST">
    {% csrf_token %}
    <label for="causing_player_id">Select Inflicter</label>
    <select name="causing_player_id" id="causing_player_id">
        {% for player in players %}
            <option value="{{ player.id }}">{{ player.name }}</option>
        {% endfor %}
    </select>
    <label for="victim_player_id">Select Victim</label>
    <select name="victim_player_id" id="victim_player_id">
        {% for player in opposing_players %}
            <option value="{{ player.id }}">{{ player.name }}</option>
        {% endfor %}
    </select>

    <button type="submit">Add Casualty</button>
</form>