<h1>End Game Sequence for {{ team1.name }} vs. {{ team2.name }}</h1>
<h1>Final score: {{ team1_score }} - {{ team2_score }}</h1>

<form method="POST">
    {% csrf_token %}
    <label for="team1_mvp_id">Team1 MVP:</label>
    <select name="team1_mvp_id" id="team1_mvp_id">
        {% for player in team1_players %}
            <option value="{{ player.id }}">{{ player.name }}</option>
        {% endfor %}
    </select>
    <label for="team2_mvp_id">Team2 MVP:</label>
    <select name="team2_mvp_id" id="team2_mvp_id">
        {% for player in team2_players %}
            <option value="{{ player.id }}">{{ player.name }}</option>
        {% endfor %}
    </select>
    <label for="team1_fanfactor_change">Team1 FanFactor:</label>
    <select name="team1_fanfactor_change" id="team1_fanfactor_change">
        <option value=-1>-1</option>
        <option value=0 selected>0</option>
        <option value=1>+1</option>
    </select>
    <label for="team2_fanfactor_change">Team2 FanFactor:</label>
    <select name="team2_fanfactor_change" id="team2_fanfactor_change">
        <option value=-1>-1</option>
        <option value=0 selected>0</option>
        <option value=1>+1</option>
    </select>
    <label for="team1_winnings">Team1 Winnings:</label>
    <input type="number" id="team1_winnings" name="team1_winnings" min="10" step="10">
    <label for="team2_winnings">Team2 Winnings:</label>
    <input type="number" id="team2_winnings" name="team2_winnings" min="10" step="10">


    <button type="submit">Submit Match Result</button>
</form>