{% extends "league_manager/base.html" %}
{% block title %}{{ faction }} Roster{% endblock %}

{% block content %}

<h1>{{ faction }}</h1>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead class="table-light">
            <tr>
                <th colspan="11" align="left class="text-start">{{ faction }}</th>
            </tr>
            <tr>
                <th colspan="2" align="left">Positional</th>
                <th>MA</th>
                <th>ST</th>
                <th>AG</th>
                <th>AV</th>
                <th>Skills</th>
                <th>Normal</th>
                <th>Double</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for type in player_types %}
            <tr>
                <td> 0 - {{ type.max_quantity }}</td>
                <td>{{ type.position }}</td>
                <td>{{ type.movement }}</td>
                <td>{{ type.strength }}</td>
                <td>{{ type.agility }}</td>
                <td>{{ type.armour }}</td>
                <td>
                    {% for skill in type.starting_skills.values %}
                        <a tabindex="0" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="{{ skill.name }}" data-bs-content="{{ skill.description }}">{{ skill.name}}{% if not forloop.last %}, {% endif %}</a>
                    {% endfor %}
                </td>
                <td>
                    {% if type.normal_skill_access %}
                        <a href="{% url 'skills_overview' %}?{% for skill in type.normal_skill_access %}category={{ skill }}&{% endfor %}">
                            {{ type.normal_skill_access|join:"" }}
                        </a>
                    {% endif %}
                </td>
                <td>
                    {% if type.double_skill_access %}
                        <a href="{% url 'skills_overview' %}?{% for skill in type.double_skill_access %}category={{ skill }}&{% endfor %}">
                            {{ type.double_skill_access|join:"" }}
                        </a>
                    {% endif %}
                </td>
                <td>{{ type.price }}k</td>
            </tr>
            {% endfor %}
        </tbody>
        <tr>
            <td colspan="2" align="left"><strong>Rerolls: </strong></td>
            <td colspan="9" align="left">{{ faction.reroll_value }}k ({{ faction.reroll_value|add:faction.reroll_value }}k after team creation)</td>
        </tr>
        <tr>
            <td colspan="2" align="left"><strong> Apothecary: </strong></td>
            <td colspan="9" align="left">{{ faction.apo_available|yesno:"Yes,No" }}</td>
        </tr>
    </table>
</div>

<script>
    //Script for enabling popovers
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
    const popover = new bootstrap.Popover('.popover-dismiss', {
      trigger: 'focus'
    })

</script>

{% endblock %}