{% extends "league_manager/base.html" %}
{% block title %}Faction Overview{% endblock %}

{% block content %}
<div class="container mx-auto p-6">
    <h1 class="text-3xl font-bold mb-6 text-center">Factions</h1>
    <div id="faction-list" class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"></div>
</div>

{% load static %}

{% for faction in factions %}
    <a href="{% url 'faction_details' faction.faction_name %}">
        <div class="p-4 bg-white rounded-lg shadow-md hover:shadow-xl transition duration-300 flex flex-col items-center">
            <img src="{% static faction.icon_path %}" alt="{{ faction.faction_name }} icon" class="w-24 h-24 mb-3 transition-transform group-hover:scale-105"/>
            <span class="text-lg font-medium text-gray-800 group-hover:text-blue-600">{{ faction.faction_name }}</span>
        </div>
    </a>

{% endfor %}
{% endblock %}

