{% extends "league_manager/base.html" %}
{% block title %}Match Information{% endblock %}

{% block content %}
<h1>{{ team1.name }} vs. {{ team2.name }}</h1>
<h1>Score: {{ team1_score }} - {{ team2_score }}</h1>
<h1>FAME: {{ match.team1_fame }} - {{ match.team2_fame }}</h1>
<h1>Weather: {{ match.weather }}</h1>

<!-- TOUCHDOWNS -->
<h2>Team1 Touchdowns</h2>
{% for td in team1_touchdowns %}
    <p>{{ td.player.name }}</p>
{% endfor %}

{% if in_progress %}
    <p><a href="{% url 'add_touchdown' match.id team1.id %}">Add Team1 Touchdown</a></p>
{% endif %}

<h2>Team2 Touchdowns</h2>
{% for td in team2_touchdowns %}
    <p>{{ td.player.name }}</p>
{% endfor %}

{% if in_progress %}
    <p><a href="{% url 'add_touchdown' match.id team2.id %}">Add Team2 Touchdown</a></p>
{% endif %}

<!-- COMPLETIONS -->
<h2>Team1 Completions</h2>
{% for comp in team1_completions %}
    <p>{{ comp.thrower.name }}</p>
{% endfor %}

{% if in_progress %}
    <p><a href="{% url 'add_completion' match.id team1.id %}">Add Team1 Completion</a></p>
{% endif %}

<h2>Team2 Completions</h2>
{% for comp in team2_completions %}
    <p>{{ comp.thrower.name }}</p>
{% endfor %}

{% if in_progress %}
    <p><a href="{% url 'add_completion' match.id team2.id %}">Add Team2 Completion</a></p>
{% endif %}

<!-- CASUALTIES -->
<h2>Team1 Casualties</h2>
{% for cas in team1_casualties %}
    <p>{{ cas.causing_player.name }}</p>
{% endfor %}

{% if in_progress %}
    <p><a href="{% url 'add_casualty' match.id team1.id %}">Add Team1 Casualty</a></p>
{% endif %}

<h2>Team2 Casualties</h2>
{% for cas in team2_casualties %}
    <p>{{ cas.causing_player.name }}</p>
{% endfor %}

{% if in_progress %}
    <p><a href="{% url 'add_casualty' match.id team2.id %}">Add Team2 Casualty</a></p>
{% endif %}

<!-- INTERCEPTIONS -->
<h2>Team1 Interceptions</h2>
{% for int in team1_interceptions %}
    <p>{{ int.intercepting_player.name }}</p>
{% endfor %}

{% if in_progress %}
    <p><a href="{% url 'add_interception' match.id team1.id %}">Add Team1 Interception</a></p>
{% endif %}

<h2>Team2 Interceptions</h2>
{% for int in team2_interceptions %}
    <p>{{ int.intercepting_player.name }}</p>
{% endfor %}

{% if in_progress %}
    <p><a href="{% url 'add_interception' match.id team2.id %}">Add Team2 Interception</a></p>
{% endif %}

<!-- INJURIES -->
<h2>Team1 Injuries</h2>
{% for inj in team1_injuries %}
    <p>{{ inj.player.name }} ({{ inj.injury_type.name }} [{{ inj.injury_type.description }}])</p>
{% endfor %}

{% if in_progress %}
    <p><a href="{% url 'add_injury' match.id team1.id %}">Add Team1 Injury</a></p>
{% endif %}

<h2>Team2 Injuries</h2>
{% for inj in team2_injuries %}
    <p>{{ inj.player.name }} ({{ inj.injury_type.name }} [{{ inj.injury_type.description }}])</p>
{% endfor %}

{% if in_progress %}
    <p><a href="{% url 'add_injury' match.id team2.id %}">Add Team2 Injury</a></p>
{% endif %}

<!-- MATCH BOTTOM -->
{% if in_progress %}
    <p><a href="{% url 'end_match' match.id %}">End Match</a></p>
{% endif %}

<p><a href="{% url 'league_details' league.id %}">Leave Match</a></p>

{% if in_progress %}
    <p><a href="{% url 'cancel_match' match.id %}">Cancel Match</a></p>
{% endif %}

{% endblock %}