<div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-dark d-flex sticky-top">
    <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
        <a href="/" class="d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-5">B<span class="d-none d-sm-inline">lood Bowl</span></span>
        </a>
        <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
                <a href="{% url 'index' %}" class="nav-link px-sm-0 px-2">
                    <i class="fs-5 bi-house"></i><span class="ms-1 d-none d-sm-inline">Home</span>
                </a>
            </li>
            <li class="dropdown">
                <a href="#" class="nav-link dropdown-toggle px-sm-0 px-2" id="teams_dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fs-5 bi-people"></i><span class="ms-1 d-none d-sm-inline">Teams</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdown">
                    <li><a class="dropdown-item" href="{% url 'teams' %}">Show Teams</a></li>
                    <li><a class="dropdown-item" href="{% url 'create_team' %}">Create New Team</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="nav-link dropdown-toggle px-sm-0 px-2" id="leagues_dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fs-5 bi-trophy"></i><span class="ms-1 d-none d-sm-inline">Leagues</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdown">
                    <li><a class="dropdown-item" href="{% url 'leagues' %}">Show Leagues</a></li>
                    <li><a class="dropdown-item" href="{% url 'create_league' %}">Create New League</a></li>
                </ul>
            </li>
            <li>
                <a href="{% url 'factions' %}" class="nav-link px-sm-0 px-2">
                    <i class="fs-5 bi-clipboard"></i><span class="ms-1 d-none d-sm-inline">Faction Overview</span> </a>
            </li>
            <li>
                <a href="{% url 'skills_overview' %}" class="nav-link px-sm-0 px-2">
                    <i class="fs-5 bi-card-list"></i><span class="ms-1 d-none d-sm-inline">Skill Overview</span> </a>
            </li>
        </ul>
    </div>
</div>