{% extends "league_manager/base.html" %}
{% block extra_head %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
{% endblock %}
{% block title %}{{ team.name }}{% endblock %}

{% block content %}
<h1>{{ team.name }}</h1>

{% if team.faction %}
    <p><strong>Coach:</strong> {{ team.coach }}</p>
    <p><strong>Current League:</strong> {% if team.league %} <a href="{% url 'league_details' team.league.id %}">{{ team.league }}</a> (<a href="{% url 'join_league' team.id %}">Drop from League</a>) {% else %} None (<a href="{% url 'join_league' team.id %}">Register in a League</a>){% endif %}</p>

    <div class="table-responsive">
        <table id="sortableTable" class="table table-bordered table-striped">
            <thead class="table-light">
                <tr>
                    <th colspan="21" class="text-start">{{ team.faction }}</th>
                </tr>
                <tr>
                    <th>Number</th>
                    <th>Name</th>
                    <th>Position</th>
                    <th>MA</th>
                    <th>ST</th>
                    <th>AG</th>
                    <th>AV</th>
                    <th>Skills</th>
                    <th>Normal</th>
                    <th>Double</th>
                    <th>MNG</th>
                    <th>Injuries</th>
                    <th>PC</th>
                    <th>TD</th>
                    <th>INT</th>
                    <th>CAS</th>
                    <th>MVP</th>
                    <th>SPP</th>
                    <th>Value</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for player in players %}
                <tr>
                    <td>{{ player.number }}</td>
                    <td>{{ player.name }}</td>
                    <td>{{ player.position }}</td>
                    {% with player.get_stats as stats %}
                    <td>{{ stats.movement }}</td>
                    <td>{{ stats.strength }}</td>
                    <td>{{ stats.agility }}</td>
                    <td>{{ stats.armour }}</td>
                    {% endwith %}
                    <td>
                        {% for skill in player.skills.values %}
                            <a tabindex="0" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="{{ skill.name }}" data-bs-content="{{ skill.description }}">{{ skill.name}}{% if not forloop.last %}, {% endif %}</a>
                        {% endfor %}
                    </td>
                    <td>
                        {% if player.normal_skill_access %}
                            <a href="{% url 'skills_overview' %}?{% for skill in player.normal_skill_access %}category={{ skill }}&{% endfor %}">
                                {{ player.normal_skill_access|join:"" }}
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if player.double_skill_access %}
                            <a href="{% url 'skills_overview' %}?{% for skill in player.double_skill_access %}category={{ skill }}&{% endfor %}">
                                {{ player.double_skill_access|join:"" }}
                            </a>
                        {% endif %}
                    </td>
                    <td>{% if player.miss_next %}Miss{% endif %}</td>
                    <td>{% for injury in player.get_injuries %} {% if injury.injury_type.description != "No long term effect" and injury.injury_type.description != "Miss next game" %} {{ injury.injury_type.name }} [{{ injury.injury_type.description }}] {% endif %} {% endfor %}</td>
                    <td>{{ player.get_n_completions }}</td>
                    <td>{{ player.get_n_touchdowns }}</td>
                    <td>{{ player.get_n_interceptions }}</td>
                    <td>{{ player.get_n_casualties }}</td>
                    <td>{{ player.get_n_mvps }}</td>
                    <td>{{ player.calculate_spp }}</td>
                    <td>{{ player.value }}</td>
                    <th>{% if player.can_level_up %}<a href="{% url 'level_up' player.id %}">Level Up</a>{% else %}<a href="{% url 'modify_player' player.id %}">Modify</a>{% endif %}</th>
                    <td><a href="{% url 'remove_player' player.id %}">Remove</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{% url 'add_player' team_id=team.id %}">Add Player</a>

    <div class="card mt-4">
        <div class="card-header">
          Team Details <a href="{% url 'modify_team' team.id %}">Modify</a>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Re-Rolls:</strong> {{ team.rerolls }}</li>
          <li class="list-group-item"><strong>Apothecary:</strong> {% if team.apothecary %}Yes{% else %}No{% endif %}</li>
          <li class="list-group-item"><strong>Assistant Coaches:</strong> {{ team.assistant_coaches }}</li>
          <li class="list-group-item"><strong>Cheerleaders:</strong> {{ team.cheerleaders }}</li>
          <li class="list-group-item"><strong>Fan Factor:</strong> {{ team.fan_factor }}</li>
          <li class="list-group-item"><strong>Treasury:</strong> {{ team.treasury }}</li>
          <li class="list-group-item"><strong>Total Team Value:</strong> {{ team.get_total_team_value }}</li>
        </ul>
      </div>
      <p></p>

{% else %}
    
    <p>{{ team.name }} has no faction. This must be resolved before the team can be viewed.</p>

{% endif %}

<script>
    //Script for enabling popovers
    document.addEventListener("DOMContentLoaded", function () {
        const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
        popoverTriggerList.forEach(popoverTriggerEl => {
            new bootstrap.Popover(popoverTriggerEl, {
                trigger: 'focus' // Ensures popovers close when clicking elsewhere
            });
        });
    })

    $(document).ready(function () {
        $('#sortableTable').DataTable({
            "paging": false,   // Disable pagination
            "info": false,     // Disable table info
            "order": [],       // Prevent auto sorting
            "columnDefs": [
                { "orderable": false, "targets": [7, 8, 9, 10, 11, 19, 20] }  // Disable sorting on action and skill columns
            ]
        });
    });
    
</script>

{% endblock %}